@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "tailwindcss";
:root {
  --background: #222222;
  --foreground: #e0e0e0;
  --font-sans: 'Montserrat', Arial, Helvetica, sans-serif; /* Add Montserrat here */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #d1d1d1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.tiptap {
  background-color: #2b2b2b;
  color: #e0e0e0;
  border: none;
  outline: none;
  padding: 50px;
  border-radius: 8px;
}

/* Headings */
.tiptap h1 {
  @apply text-6xl font-bold text-gray-300;
}

.tiptap h2 {
  @apply text-5xl font-semibold text-gray-300;
}

.tiptap h3 {
  @apply text-4xl font-semibold text-gray-400;
}

.tiptap h4 {
  @apply text-3xl font-semibold text-gray-400;
}

.tiptap h5 {
  @apply text-2xl font-semibold text-gray-500;
}

.tiptap h6 {
  @apply text-xl font-semibold text-gray-500;
}

/* Blockquotes */
.blockquote {
  @apply border-l-4 border-gray-500 pl-4 italic text-gray-400;
}

/* Strikethrough */
.tiptap s {
  @apply line-through text-gray-500;
}

/* Lists */
.tiptap ul {
  @apply list-disc pl-5 text-gray-300;
}

.tiptap ol {
  @apply list-decimal pl-5 text-gray-300;
}

/* Code Blocks */
.tiptap pre {
  @apply bg-gray-800 text-gray-200 p-4 rounded-lg overflow-x-auto;
}

.tiptap code {
  @apply bg-gray-700 text-gray-200 px-1 rounded;
}

/* Horizontal Rule */
.tiptap hr {
  @apply border-t-2 border-gray-600 my-4;
}

/* Links */
.tiptap a {
  @apply text-blue-400 underline;
}

/* Bold and Italic */
.tiptap strong {
  @apply font-bold text-gray-300;
}

.tiptap em {
  @apply italic text-gray-300;
}

/* Highlighted text styles */
.highlighted-text {
  background-color: #ffff00;
  padding: 2px 4px;
  border-radius: 3px;
  color: #000000;
}
