@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.tiptap {
  background-color: #0a0a0a;
  color: white;
  border: none;
  outline: none;
}

.tiptap-container {
  background-color: #0a0a0a; 
  border: 2px solid white;
  padding: 10px;
}


.tiptap p {
  @apply my-4 leading-relaxed;
}

/* Headings inside the editor */
.tiptap h1 {
  @apply text-6xl font-bold my-4;
}

.tiptap h2 {
  @apply text-5xl font-semibold my-3;
}

.tiptap h3 {
  @apply text-4xl font-semibold my-2;
}

.tiptap h4 {
  @apply text-3xl font-medium my-2;
}

.tiptap h5 {
  @apply text-2xl font-medium my-1;
}

.tiptap h6 {
  @apply text-xl font-medium my-1;
}

/* Strike-through text */
.tiptap s {
  @apply line-through;
}

/* Custom paragraph class from Tiptap */
.my-custom-paragraph {
  @apply text-gray-800 dark:text-gray-300;
}
